
 #repository option[value=""] { background-color: #f5f5f5; color: #999; }
 .ProlaborateImageClass{ background: url(images/prolaborate.png) no-repeat  left transparent;background-size: 72px 72px; }
 
 .noDataAvailable { position: absolute; left: 0; top: 0; height: 100%; width: auto; background-color: #FFF; }
.noDataAvailable > table { position: relative; top: 50%; margin: -45px auto 0; width: auto; height: auto; }
.noDataAvailable td > i { display: block; font-size: 50px; width: 76px; height: 76px; line-height: 76px; text-align: center; }
.noDataAvailable td > i {margin-right: 20px; }
.noDataAvailable h4 { font: 22px "colaborate-thinregular"; font-weight: 600; text-transform: capitalize; margin-top: 0; }
.noDataAvailable p { color: #777777; }

.noDataAvailable h4,
.noDataAvailable td > i { color: #ff8400; }
.noDataAvailable td > i { border-color: #ff8400; }

.noDataAvailable.DataSuccess h4,
.noDataAvailable.DataSuccess td > i { color: #5CB85C; }
.noDataAvailable.DataSuccess td > i { border-color: #5CB85C; }

.RepositoryInfo { float: left;width: auto;border: 1px solid #ccc;;margin: 15px; }
.RepHead{ text-align:center;padding:10px;border-bottom: 1px solid #ccc; }
.RepBody{ padding:10px; }
.RepFoot{ padding: 10px;border-top: 1px solid #ccc;text-align:center; }
.RepName { overflow: hidden;text-overflow: ellipsis;white-space: nowrap;display: block;width: 220px; }
.bg-grad-success, .bg-grad-success:hover, .bg-grad-success:focus, .bg-grad-success:active{
    border-top:3px solid #5cb85c !important;
	background: -webkit-linear-gradient(top,  rgba(234,255,234,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background:    -moz-linear-gradient(top,  rgba(234,255,234,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background: 		linear-gradient(to bottom,  rgba(234,255,234,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#eafeea', endColorstr='#ffffff',GradientType=0 )!important;
}
.bg-grad-warning, .bg-grad-warning:hover, .bg-grad-warning:focus, .bg-grad-warning:active{
    border-top:3px solid #ff8400 !important;
	background: -webkit-linear-gradient(top,  rgba(255,249,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background:    -moz-linear-gradient(top,  rgba(255,249,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background: 		linear-gradient(to bottom,  rgba(255,249,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9ed', endColorstr='#ffffff',GradientType=0 )!important;
}
.bg-grad-danger, .bg-grad-danger:hover, .bg-grad-danger:focus, .bg-grad-danger:active{
    border-top:3px solid #ED3D3D !important;
	background: -webkit-linear-gradient(top,  rgba(253,237,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background:    -moz-linear-gradient(top,  rgba(253,237,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
	background: 		linear-gradient(to bottom,  rgba(253,237,237,1) 0%, rgba(255,255,255,0.37) 32%, rgba(255,255,255,1) 100%);
    filter    : progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdeded', endColorstr='#ffffff',GradientType=0 )!important;
}

.disableWrap { position: relative;pointer-events: none; }
.disableWrap:before { content: ''; background-color: rgba(255,255,255,0.65); position: absolute; top: 0; left: 0; bottom: 0; right: 0; z-index: 90; }

.warningIcon { content: "\26A0";font-size: 50px;color: #ff8400;padding-left: 36%; }
.DefaultRepo { padding-bottom: 6px; }
.switchery-small { border-radius: 14px !important;height: 15px !important;width: 28px !important; }
.switchery-small > small { height: 15px !important;width: 15px !important; }

.dataTables_filter .form-control { box-sizing:border-box; }
