@charset "utf-8";
/* CSS Document */
/* <i class="pbicon pbicon-name"></i> */

/****************************************/
/* Base 
/****************************************/

.pbicon { display:inline-block; width:20px; height:16px; background: rgba(0,0,0,0) url(img/Set2/69.png) no-repeat center center; background-size:contain; overflow:hidden; }
.pbicon { position:relative; top:2px; }

.pbicon-Diagram { background-image: url(img/Set1/1.png); }
.pbicon-Diagram_Full { background-image: url(img/full/Set1/1.png); }

/* JS Tree Update */

.jstree-default li[data-pbicon] > a .jstree-themeicon { background: rgba(0,0,0,0) url(img/Set2/69.png) no-repeat left center; background-size: 80%; }
.jstree-default li[data-pbicon] > a .jstree-themeicon { position: relative; top: 2px; }
.jstree-default li[data-pbicon] > a .jstree-themeicon:before { content:'' !important; }

.jstree-default li[data-pbicon*='pbicon-Diagram'] > a .jstree-themeicon { background-image: url(img/Set1/1.png); }

/****************************************/
/* Icon Set
/* Icons Set1 <1-30> Set2 <1-79> Set3 <1-18> : Total 127
/****************************************/

/* UML Set */

.pbicon-001 { background-image: url(img/Set1/1.png); } 
.pbicon-002 { background-image: url(img/Set1/2.png); } 
.pbicon-003 { background-image: url(img/Set1/3.png); } 
.pbicon-004 { background-image: url(img/Set1/4.png); } 
.pbicon-005 { background-image: url(img/Set1/5.png); } 
.pbicon-006 { background-image: url(img/Set1/6.png); } 
.pbicon-007 { background-image: url(img/Set1/7.png); } 
.pbicon-008 { background-image: url(img/Set1/8.png); } 
.pbicon-009 { background-image: url(img/Set1/9.png); } 
.pbicon-010 { background-image: url(img/Set1/10.png); } 
.pbicon-011 { background-image: url(img/Set1/11.png); } 
.pbicon-012 { background-image: url(img/Set1/12.png); } 
.pbicon-013 { background-image: url(img/Set1/13.png); } 
.pbicon-014 { background-image: url(img/Set1/14.png); } 
.pbicon-015 { background-image: url(img/Set1/15.png); } 
.pbicon-016 { background-image: url(img/Set1/16.png); } 
.pbicon-017 { background-image: url(img/Set1/17.png); } 
.pbicon-018 { background-image: url(img/Set1/18.png); } 
.pbicon-019 { background-image: url(img/Set1/19.png); } 
.pbicon-020 { background-image: url(img/Set1/20.png); } 
.pbicon-021 { background-image: url(img/Set1/21.png); } 
.pbicon-022 { background-image: url(img/Set1/22.png); } 
.pbicon-023 { background-image: url(img/Set1/23.png); }

/* Custom Set */
 
.pbicon-024 { background-image: url(img/Set1/24.png); } 
.pbicon-025 { background-image: url(img/Set1/25.png); } 
.pbicon-026 { background-image: url(img/Set1/26.png); } 
.pbicon-027 { background-image: url(img/Set1/27.png); } 
.pbicon-028 { background-image: url(img/Set1/28.png); } 
.pbicon-029 { background-image: url(img/Set1/29.png); } 
.pbicon-030 { background-image: url(img/Set1/30.png); } 

/* Archimate Set */

.pbicon-031 { background-image: url(img/Set2/1.png); } 
.pbicon-032 { background-image: url(img/Set2/2.png); } 
.pbicon-033 { background-image: url(img/Set2/3.png); } 
.pbicon-034 { background-image: url(img/Set2/4.png); } 
.pbicon-035 { background-image: url(img/Set2/5.png); } 
.pbicon-036 { background-image: url(img/Set2/6.png); } 
.pbicon-037 { background-image: url(img/Set2/7.png); } 
.pbicon-038 { background-image: url(img/Set2/8.png); } 
.pbicon-039 { background-image: url(img/Set2/9.png); } 
.pbicon-040 { background-image: url(img/Set2/10.png); } 
.pbicon-041 { background-image: url(img/Set2/11.png); } 
.pbicon-042 { background-image: url(img/Set2/12.png); } 
.pbicon-043 { background-image: url(img/Set2/13.png); } 
.pbicon-044 { background-image: url(img/Set2/14.png); } 
.pbicon-045 { background-image: url(img/Set2/15.png); } 
.pbicon-046 { background-image: url(img/Set2/16.png); } 
.pbicon-047 { background-image: url(img/Set2/17.png); } 
.pbicon-048 { background-image: url(img/Set2/18.png); } 
.pbicon-049 { background-image: url(img/Set2/19.png); } 
.pbicon-050 { background-image: url(img/Set2/20.png); } 
.pbicon-051 { background-image: url(img/Set2/21.png); } 
.pbicon-052 { background-image: url(img/Set2/22.png); } 
.pbicon-053 { background-image: url(img/Set2/23.png); } 
.pbicon-054 { background-image: url(img/Set2/24.png); } 
.pbicon-055 { background-image: url(img/Set2/25.png); } 
.pbicon-056 { background-image: url(img/Set2/26.png); } 
.pbicon-057 { background-image: url(img/Set2/27.png); } 
.pbicon-058 { background-image: url(img/Set2/28.png); } 
.pbicon-059 { background-image: url(img/Set2/29.png); } 
.pbicon-060 { background-image: url(img/Set2/30.png); } 
.pbicon-061 { background-image: url(img/Set2/31.png); } 
.pbicon-062 { background-image: url(img/Set2/32.png); } 
.pbicon-063 { background-image: url(img/Set2/33.png); } 
.pbicon-064 { background-image: url(img/Set2/34.png); } 
.pbicon-065 { background-image: url(img/Set2/35.png); } 
.pbicon-066 { background-image: url(img/Set2/36.png); } 
.pbicon-067 { background-image: url(img/Set2/37.png); } 
.pbicon-068 { background-image: url(img/Set2/38.png); } 
.pbicon-069 { background-image: url(img/Set2/39.png); } 
.pbicon-070 { background-image: url(img/Set2/40.png); } 
.pbicon-071 { background-image: url(img/Set2/41.png); } 
.pbicon-072 { background-image: url(img/Set2/42.png); } 
.pbicon-073 { background-image: url(img/Set2/43.png); } 
.pbicon-074 { background-image: url(img/Set2/44.png); } 
.pbicon-075 { background-image: url(img/Set2/45.png); } 
.pbicon-076 { background-image: url(img/Set2/46.png); } 
.pbicon-077 { background-image: url(img/Set2/47.png); } 
.pbicon-078 { background-image: url(img/Set2/48.png); } 
.pbicon-079 { background-image: url(img/Set2/49.png); } 
.pbicon-080 { background-image: url(img/Set2/50.png); } 
.pbicon-081 { background-image: url(img/Set2/51.png); } 
.pbicon-082 { background-image: url(img/Set2/52.png); } 
.pbicon-083 { background-image: url(img/Set2/53.png); } 
.pbicon-084 { background-image: url(img/Set2/54.png); } 
.pbicon-085 { background-image: url(img/Set2/55.png); } 
.pbicon-086 { background-image: url(img/Set2/56.png); } 
.pbicon-087 { background-image: url(img/Set2/57.png); } 
.pbicon-088 { background-image: url(img/Set2/58.png); } 
.pbicon-089 { background-image: url(img/Set2/59.png); } 
.pbicon-090 { background-image: url(img/Set2/60.png); } 
.pbicon-091 { background-image: url(img/Set2/61.png); } 
.pbicon-092 { background-image: url(img/Set2/62.png); } 
.pbicon-093 { background-image: url(img/Set2/63.png); } 
.pbicon-094 { background-image: url(img/Set2/64.png); } 
.pbicon-095 { background-image: url(img/Set2/65.png); }

/* BPMN Set */

.pbicon-096 { background-image: url(img/Set2/66.png); } 
.pbicon-097 { background-image: url(img/Set2/67.png); } 
.pbicon-098 { background-image: url(img/Set2/68.png); } 
.pbicon-099 { background-image: url(img/Set2/69.png); } 
.pbicon-100 { background-image: url(img/Set2/70.png); } 
.pbicon-101 { background-image: url(img/Set2/71.png); } 
.pbicon-102 { background-image: url(img/Set2/72.png); } 
.pbicon-103 { background-image: url(img/Set2/73.png); } 
.pbicon-104 { background-image: url(img/Set2/74.png); } 
.pbicon-105 { background-image: url(img/Set2/75.png); } 
.pbicon-106 { background-image: url(img/Set2/76.png); } 
.pbicon-107 { background-image: url(img/Set2/77.png); } 
.pbicon-108 { background-image: url(img/Set2/78.png); } 
.pbicon-109 { background-image: url(img/Set2/79.png); } 

/* Whiteboard Set */

.pbicon-110 { background-image: url(img/Set3/1.png); } 
.pbicon-111 { background-image: url(img/Set3/2.png); } 
.pbicon-112 { background-image: url(img/Set3/3.png); } 
.pbicon-113 { background-image: url(img/Set3/4.png); } 
.pbicon-114 { background-image: url(img/Set3/5.png); } 
.pbicon-115 { background-image: url(img/Set3/6.png); } 
.pbicon-116 { background-image: url(img/Set3/7.png); } 
.pbicon-117 { background-image: url(img/Set3/8.png); } 
.pbicon-118 { background-image: url(img/Set3/9.png); } 
.pbicon-119 { background-image: url(img/Set3/10.png); } 
.pbicon-120 { background-image: url(img/Set3/11.png); } 
.pbicon-121 { background-image: url(img/Set3/12.png); } 
.pbicon-122 { background-image: url(img/Set3/13.png); } 
.pbicon-123 { background-image: url(img/Set3/14.png); } 
.pbicon-124 { background-image: url(img/Set3/15.png); } 
.pbicon-125 { background-image: url(img/Set3/16.png); } 
.pbicon-126 { background-image: url(img/Set3/17.png); } 
.pbicon-127 { background-image: url(img/Set3/18.png); } 

/* UML Set Additional */

.pbicon-128 { background-image: url(img/Set4/1.png); }
.pbicon-129 { background-image: url(img/Set4/2.png); }
.pbicon-130 { background-image: url(img/Set4/3.png); }
.pbicon-131 { background-image: url(img/Set4/4.png); }
.pbicon-132 { background-image: url(img/Set4/5.png); }
.pbicon-133 { background-image: url(img/Set4/6.png); }
.pbicon-134 { background-image: url(img/Set4/7.png); }
.pbicon-135 { background-image: url(img/Set4/8.png); }
.pbicon-136 { background-image: url(img/Set4/9.png); }
.pbicon-137 { background-image: url(img/Set4/10.png); }
.pbicon-138 { background-image: url(img/Set4/11.png); }
.pbicon-139 { background-image: url(img/Set4/12.png); }
.pbicon-140 { background-image: url(img/Set4/13.png); }
.pbicon-141 { background-image: url(img/Set4/14.png); }
.pbicon-142 { background-image: url(img/Set4/15.png); }
.pbicon-143 { background-image: url(img/Set4/16.png); }
.pbicon-144 { background-image: url(img/Set4/17.png); }
.pbicon-145 { background-image: url(img/Set4/18.png); }
.pbicon-146 { background-image: url(img/Set4/19.png); }
.pbicon-147 { background-image: url(img/Set4/20.png); }
.pbicon-148 { background-image: url(img/Set4/21.png); }
.pbicon-149 { background-image: url(img/Set4/22.png); }
.pbicon-150 { background-image: url(img/Set4/23.png); }
.pbicon-151 { background-image: url(img/Set4/24.png); }
.pbicon-152 { background-image: url(img/Set4/25.png); }
.pbicon-153 { background-image: url(img/Set4/26.png); }
.pbicon-154 { background-image: url(img/Set4/27.png); }
.pbicon-155 { background-image: url(img/Set4/28.png); }
.pbicon-156 { background-image: url(img/Set4/29.png); }
.pbicon-157 { background-image: url(img/Set4/30.png); }
.pbicon-158 { background-image: url(img/Set4/31.png); }
.pbicon-159 { background-image: url(img/Set4/32.png); }
.pbicon-160 { background-image: url(img/Set4/33.png); }
.pbicon-161 { background-image: url(img/Set4/34.png); }
.pbicon-162 { background-image: url(img/Set4/35.png); }
.pbicon-163 { background-image: url(img/Set4/36.png); }
.pbicon-164 { background-image: url(img/Set4/37.png); }
.pbicon-165 { background-image: url(img/Set4/38.png); }
.pbicon-166 { background-image: url(img/Set4/39.png); }
.pbicon-167 { background-image: url(img/Set4/40.png); }
.pbicon-168 { background-image: url(img/Set4/41.png); }
.pbicon-169 { background-image: url(img/Set4/42.png); }
.pbicon-170 { background-image: url(img/Set4/43.png); }
.pbicon-171 { background-image: url(img/Set4/44.png); }
.pbicon-172 { background-image: url(img/Set4/45.png); }
.pbicon-173 { background-image: url(img/Set4/46.png); }
.pbicon-174 { background-image: url(img/Set4/47.png); }
.pbicon-175 { background-image: url(img/Set4/48.png); }
.pbicon-176 { background-image: url(img/Set4/49.png); }
.pbicon-177 { background-image: url(img/Set4/50.png); }
.pbicon-178 { background-image: url(img/Set4/51.png); }
.pbicon-179 { background-image: url(img/Set4/52.png); }
.pbicon-180 { background-image: url(img/Set4/53.png); }
.pbicon-181 { background-image: url(img/Set4/54.png); }
.pbicon-182 { background-image: url(img/Set4/55.png); }
.pbicon-183 { background-image: url(img/Set4/56.png); }
.pbicon-184 { background-image: url(img/Set4/57.png); }
.pbicon-185 { background-image: url(img/Set4/58.png); }
.pbicon-186 { background-image: url(img/Set4/59.png); }
.pbicon-187 { background-image: url(img/Set4/60.png); }
.pbicon-188 { background-image: url(img/Set4/61.png); }
.pbicon-189 { background-image: url(img/Set4/62.png); }
.pbicon-190 { background-image: url(img/Set4/63.png); }
.pbicon-191 { background-image: url(img/Set4/64.png); }
.pbicon-192 { background-image: url(img/Set4/65.png); }
.pbicon-193 { background-image: url(img/Set4/66.png); }
.pbicon-194 { background-image: url(img/Set4/67.png); }
.pbicon-195 { background-image: url(img/Set4/68.png); }
.pbicon-196 { background-image: url(img/Set4/69.png); }
.pbicon-197 { background-image: url(img/Set4/70.png); }
.pbicon-198 { background-image: url(img/Set4/71.png); }
.pbicon-199 { background-image: url(img/Set4/72.png); }
.pbicon-200 { background-image: url(img/Set4/73.png); }
.pbicon-201 { background-image: url(img/Set4/74.png); }
.pbicon-202 { background-image: url(img/Set4/75.png); }
.pbicon-203 { background-image: url(img/Set4/76.png); }
.pbicon-204 { background-image: url(img/Set4/77.png); }
.pbicon-205 { background-image: url(img/Set4/78.png); }
.pbicon-206 { background-image: url(img/Set4/79.png); }
.pbicon-207 { background-image: url(img/Set4/80.png); }
.pbicon-208 { background-image: url(img/Set4/81.png); }
.pbicon-209 { background-image: url(img/Set4/82.png); }
.pbicon-210 { background-image: url(img/Set4/83.png); }
.pbicon-211 { background-image: url(img/Set4/84.png); }
.pbicon-212 { background-image: url(img/Set4/85.png); }
.pbicon-213 { background-image: url(img/Set4/86.png); }
.pbicon-214 { background-image: url(img/Set4/87.png); }
.pbicon-215 { background-image: url(img/Set4/88.png); }

/* Arrow Set */

.pbicon-216 { background-image: url(img/Arrows/1.png); }
.pbicon-217 { background-image: url(img/Arrows/2.png); }
.pbicon-218 { background-image: url(img/Arrows/3.png); }
.pbicon-219 { background-image: url(img/Arrows/4.png); }
.pbicon-220 { background-image: url(img/Arrows/5.png); }
.pbicon-221 { background-image: url(img/Arrows/6.png); }
.pbicon-222 { background-image: url(img/Arrows/7.png); }
.pbicon-223 { background-image: url(img/Arrows/8.png); }
.pbicon-224 { background-image: url(img/Arrows/9.png); }
.pbicon-225 { background-image: url(img/Arrows/10.png); }
.pbicon-226 { background-image: url(img/Arrows/11.png); }
.pbicon-227 { background-image: url(img/Arrows/12.png); }
.pbicon-228 { background-image: url(img/Arrows/13.png); }
.pbicon-229 { background-image: url(img/Arrows/14.png); }
.pbicon-230 { background-image: url(img/Arrows/15.png); }
.pbicon-231 { background-image: url(img/Arrows/16.png); }
.pbicon-232 { background-image: url(img/Arrows/17.png); }
.pbicon-233 { background-image: url(img/Arrows/18.png); }
.pbicon-234 { background-image: url(img/Arrows/19.png); }
.pbicon-235 { background-image: url(img/Arrows/20.png); }
.pbicon-236 { background-image: url(img/Arrows/21.png); }
.pbicon-237 { background-image: url(img/Arrows/22.png); }
.pbicon-238 { background-image: url(img/Arrows/23.png); }
.pbicon-239 { background-image: url(img/Arrows/24.png); }
.pbicon-240 { background-image: url(img/Arrows/25.png); }
.pbicon-241 { background-image: url(img/Arrows/26.png); }
.pbicon-242 { background-image: url(img/Arrows/27.png); }
.pbicon-243 { background-image: url(img/Arrows/28.png); }
.pbicon-244 { background-image: url(img/Arrows/29.png); }
.pbicon-245 { background-image: url(img/Arrows/30.png); }
.pbicon-246 { background-image: url(img/Arrows/31.png); }
.pbicon-247 { background-image: url(img/Arrows/32.png); }
.pbicon-248 { background-image: url(img/Arrows/33.png); }
.pbicon-249 { background-image: url(img/Arrows/34.png); }
.pbicon-250 { background-image: url(img/Arrows/35.png); }
.pbicon-251 { background-image: url(img/Arrows/36.png); }
.pbicon-252 { background-image: url(img/Arrows/37.png); }
.pbicon-253 { background-image: url(img/Arrows/38.png); }
.pbicon-254 { background-image: url(img/Arrows/39.png); }
.pbicon-255 { background-image: url(img/Arrows/40.png); }
.pbicon-256 { background-image: url(img/Arrows/41.png); }

/* UML Set Additional */

.pbicon-257 { background-image: url(img/Set5/1.png); }
.pbicon-258 { background-image: url(img/Set5/2.png); }
.pbicon-259 { background-image: url(img/Set5/3.png); }
.pbicon-260 { background-image: url(img/Set5/4.png); }
.pbicon-261 { background-image: url(img/Set5/5.png); }
.pbicon-262 { background-image: url(img/Set5/6.png); }
.pbicon-263 { background-image: url(img/Set5/7.png); }
.pbicon-264 { background-image: url(img/Set5/8.png); }
.pbicon-265 { background-image: url(img/Set5/9.png); }
.pbicon-266 { background-image: url(img/Set5/10.png); }
.pbicon-267 { background-image: url(img/Set5/11.png); }
.pbicon-268 { background-image: url(img/Set5/12.png); }
.pbicon-269 { background-image: url(img/Set5/13.png); }
.pbicon-270 { background-image: url(img/Set5/14.png); }
.pbicon-271 { background-image: url(img/Set5/15.png); }
.pbicon-272 { background-image: url(img/Set5/16.png); }
.pbicon-273 { background-image: url(img/Set5/17.png); }
.pbicon-274 { background-image: url(img/Set5/18.png); }

/* Archimate 3 Set */

.pbicon-275 { background-image: url(img/Set6/1.png); }
.pbicon-276 { background-image: url(img/Set6/2.png); }
.pbicon-277 { background-image: url(img/Set6/3.png); }
.pbicon-278 { background-image: url(img/Set6/4.png); }
.pbicon-279 { background-image: url(img/Set6/5.png); }
.pbicon-280 { background-image: url(img/Set6/6.png); }
.pbicon-281 { background-image: url(img/Set6/7.png); }
.pbicon-282 { background-image: url(img/Set6/8.png); }
.pbicon-283 { background-image: url(img/Set6/9.png); }
.pbicon-284 { background-image: url(img/Set6/10.png); }
.pbicon-285 { background-image: url(img/Set6/11.png); }
.pbicon-286 { background-image: url(img/Set6/12.png); }
.pbicon-287 { background-image: url(img/Set6/13.png); }
.pbicon-288 { background-image: url(img/Set6/14.png); }
.pbicon-289 { background-image: url(img/Set6/15.png); }
.pbicon-290 { background-image: url(img/Set6/16.png); }
.pbicon-291 { background-image: url(img/Set6/17.png); }
.pbicon-292 { background-image: url(img/Set6/18.png); }
.pbicon-293 { background-image: url(img/Set6/19.png); }
.pbicon-294 { background-image: url(img/Set6/20.png); }
.pbicon-295 { background-image: url(img/Set6/21.png); }
.pbicon-296 { background-image: url(img/Set6/22.png); }
.pbicon-297 { background-image: url(img/Set6/23.png); }
.pbicon-298 { background-image: url(img/Set6/24.png); }
.pbicon-299 { background-image: url(img/Set6/25.png); }
.pbicon-300 { background-image: url(img/Set6/26.png); }
.pbicon-301 { background-image: url(img/Set6/27.png); }
.pbicon-302 { background-image: url(img/Set6/28.png); }
.pbicon-303 { background-image: url(img/Set6/29.png); }
.pbicon-304 { background-image: url(img/Set6/30.png); }
.pbicon-305 { background-image: url(img/Set6/31.png); }
.pbicon-306 { background-image: url(img/Set6/32.png); }
.pbicon-307 { background-image: url(img/Set6/33.png); }
.pbicon-308 { background-image: url(img/Set6/34.png); }
.pbicon-309 { background-image: url(img/Set6/35.png); }
.pbicon-310 { background-image: url(img/Set6/36.png); }
.pbicon-311 { background-image: url(img/Set6/37.png); }
.pbicon-312 { background-image: url(img/Set6/38.png); }
.pbicon-313 { background-image: url(img/Set6/39.png); }
.pbicon-314 { background-image: url(img/Set6/40.png); }
.pbicon-315 { background-image: url(img/Set6/41.png); }
.pbicon-316 { background-image: url(img/Set6/42.png); }
.pbicon-317 { background-image: url(img/Set6/43.png); }
.pbicon-318 { background-image: url(img/Set6/44.png); }
.pbicon-319 { background-image: url(img/Set6/45.png); }
.pbicon-320 { background-image: url(img/Set6/46.png); }
.pbicon-321 { background-image: url(img/Set6/47.png); }
.pbicon-322 { background-image: url(img/Set6/48.png); }
.pbicon-323 { background-image: url(img/Set6/49.png); }
.pbicon-324 { background-image: url(img/Set6/50.png); }
.pbicon-325 { background-image: url(img/Set6/51.png); }
.pbicon-326 { background-image: url(img/Set6/52.png); }
.pbicon-327 { background-image: url(img/Set6/53.png); }
.pbicon-328 { background-image: url(img/Set6/54.png); }
.pbicon-329 { background-image: url(img/Set6/55.png); }
.pbicon-330 { background-image: url(img/Set6/56.png); }
.pbicon-331 { background-image: url(img/Set6/57.png); }
.pbicon-332 { background-image: url(img/Set6/58.png); }
.pbicon-333 { background-image: url(img/Set6/59.png); }
.pbicon-334 { background-image: url(img/Set6/60.png); }

