
/* For UML Icon */

.jstree-default li[data-pbicon^='pbicon-UML_UseCase'] > a .jstree-themeicon,
.pbicon-UML_UseCase                     { background-image: url(img/Set1/18.png); } /* 018 */
.pbicon-UML_UseCase_Full                { background-image: url(img/full/Set1/18.png); } /* 018 */

.jstree-default li[data-pbicon^='pbicon-UML_Sequence'] > a .jstree-themeicon,
.pbicon-UML_Sequence                    { background-image: url(img/Set1/21.png); } /* 021 */
.pbicon-UML_Sequence_Full               { background-image: url(img/full/Set1/21.png); } /* 021 */

.jstree-default li[data-pbicon^='pbicon-UML_Class'] > a .jstree-themeicon,
.pbicon-UML_Class                       { background-image: url(img/Set1/16.png); } /* 016 */
.pbicon-UML_Class_Full                  { background-image: url(img/full/Set1/16.png); } /* 016 */

.jstree-default li[data-pbicon^='pbicon-UML_Component'] > a .jstree-themeicon,
.pbicon-UML_Component                   { background-image: url(img/Set1/19.png); } /* 019 */
.pbicon-UML_Component_Full              { background-image: url(img/full/Set1/19.png); } /* 019 */

.jstree-default li[data-pbicon^='pbicon-UML_Requirement'] > a .jstree-themeicon,
.pbicon-UML_Requirement                 { background-image: url(img/Set1/20.png); } /* 020 */
.pbicon-UML_Requirement_Full            { background-image: url(img/full/Set1/20.png); } /* 020 */

.jstree-default li[data-pbicon^='pbicon-UML_Activity'] > a .jstree-themeicon,
.pbicon-UML_Activity                    { background-image: url(img/Set1/23.png); } /* 023 */
.pbicon-UML_Activity_Full               { background-image: url(img/full/Set1/23.png); } /* 023 */

.jstree-default li[data-pbicon^='pbicon-UML_Action'] > a .jstree-themeicon,
.pbicon-UML_Action                      { background-image: url(img/Set1/22.png); } /* 022 */
.pbicon-UML_Action_Full                 { background-image: url(img/full/Set1/22.png); } /* 022 */

.jstree-default li[data-pbicon^='pbicon-UML_Actor'] > a .jstree-themeicon,
.pbicon-UML_Actor                       { background-image: url(img/Set1/17.png); } /* 017 */
.pbicon-UML_Actor_Full                  { background-image: url(img/full/Set1/17.png); } /* 017 */


.jstree-default li[data-pbicon^='pbicon-UML_ActionPin'] > a .jstree-themeicon,
.pbicon-UML_ActionPin                   {  } /*  */
.pbicon-UML_ActionPin_Full              {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ActivityParameter'] > a .jstree-themeicon,
.pbicon-UML_ActivityParameter           {  } /*  */
.pbicon-UML_ActivityParameter_Full      {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ActivityPartitions'] > a .jstree-themeicon,
.pbicon-UML_ActivityPartitions          {  } /*  */
.pbicon-UML_ActivityPartitions_Full     {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ActivityRegion'] > a .jstree-themeicon,
.pbicon-UML_ActivityRegion              {  } /*  */
.pbicon-UML_ActivityRegion_Full         {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Artifact'] > a .jstree-themeicon,
.pbicon-UML_Artifact                    { background-image: url(img/Set2/47.png); } /*  */
.pbicon-UML_Artifact_Full               { background-image: url(img/full/Set2/47.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Associations'] > a .jstree-themeicon,
.pbicon-UML_Associations                { background-image: url(img/Set4/10.png); } /*  */
.pbicon-UML_Associations_Full           { background-image: url(img/full/Set4/10.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Boundary'] > a .jstree-themeicon,
.pbicon-UML_Boundary                    { background-image: url(img/Set2/79.png); } /*  */
.pbicon-UML_Boundary_Full               { background-image: url(img/full/Set2/79.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_CentralBufferNode'] > a .jstree-themeicon,
.pbicon-UML_CentralBufferNode           { background-image: url(img/Set1/16.png); } /*  */
.pbicon-UML_CentralBufferNode_Full      { background-image: url(img/full/Set1/16.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Change'] > a .jstree-themeicon,
.pbicon-UML_Change                      { background-image: url(img/Set4/82.png); } /*  */
.pbicon-UML_Change_Full                 { background-image: url(img/full/Set4/82.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Collaboration'] > a .jstree-themeicon,
.pbicon-UML_Collaboration               { background-image: url(img/Set4/11.png); } /*  */
.pbicon-UML_Collaboration_Full          { background-image: url(img/full/Set4/11.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_CollaborationOccurrence'] > a .jstree-themeicon,
.pbicon-UML_CollaborationOccurrence     { background-image: url(img/Set4/11.png); } /*  */
.pbicon-UML_CollaborationOccurrence_Full{ background-image: url(img/full/Set4/11.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Comment'] > a .jstree-themeicon,
.pbicon-UML_Comment                     { background-image: url(img/Set4/51.png); } /*  */
.pbicon-UML_Comment_Full                { background-image: url(img/full/Set4/51.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ConditionalNode'] > a .jstree-themeicon,
.pbicon-UML_ConditionalNode             {  } /*  */
.pbicon-UML_ConditionalNode_Full        {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Constraint'] > a .jstree-themeicon,
.pbicon-UML_Constraint                  { background-image: url(img/Set4/59.png); } /*  */
.pbicon-UML_Constraint_Full             { background-image: url(img/full/Set4/59.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_DataStore'] > a .jstree-themeicon,
.pbicon-UML_DataStore                   { background-image: url(img/Set4/50.png); } /*  */
.pbicon-UML_DataStore_Full              { background-image: url(img/full/Set4/50.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_DataType'] > a .jstree-themeicon,
.pbicon-UML_DataType                    { background-image: url(img/Set4/57.png); } /*  */
.pbicon-UML_DataType_Full               { background-image: url(img/full/Set4/57.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Decision'] > a .jstree-themeicon,
.pbicon-UML_Decision                    { background-image: url(img/Set2/73.png); } /*  */
.pbicon-UML_Decision_Full               { background-image: url(img/full/Set2/73.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_DeploymentSpecification'] > a .jstree-themeicon,
.pbicon-UML_DeploymentSpecification     { background-image: url(img/Set4/51.png); } /*  */
.pbicon-UML_DeploymentSpecification_Full{ background-image: url(img/full/Set4/51.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Device'] > a .jstree-themeicon,
.pbicon-UML_Device                      { background-image: url(img/Set4/2.png); } /*  */
.pbicon-UML_Device_Full                 { background-image: url(img/full/Set4/2.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_DiagramFrame'] > a .jstree-themeicon,
.pbicon-UML_DiagramFrame                { background-image: url(img/Set4/21.png); } /*  */
.pbicon-UML_DiagramFrame_Full           { background-image: url(img/full/Set4/21.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Entity'] > a .jstree-themeicon,
.pbicon-UML_Entity                      { background-image: url(img/Set1/16.png); } /*  */
.pbicon-UML_Entity_Full                 { background-image: url(img/full/Set1/16.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_EntryPoint'] > a .jstree-themeicon,
.pbicon-UML_EntryPoint                  { background-image: url(img/Set4/76.png); } /*  */
.pbicon-UML_EntryPoint_Full             { background-image: url(img/full/Set4/76.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Enumeration'] > a .jstree-themeicon,
.pbicon-UML_Enumeration                 { background-image: url(img/Set4/58.png); } /* 016 */
.pbicon-UML_Enumeration_Full            { background-image: url(img/full/Set4/58.png); } /* 016 */

.jstree-default li[data-pbicon^='pbicon-UML_Event'] > a .jstree-themeicon,
.pbicon-UML_Event                       { background-image: url(img/Set4/6.png); } /*  */
.pbicon-UML_Event_Full                  { background-image: url(img/full/Set4/6.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ExceptionHandler'] > a .jstree-themeicon,
.pbicon-UML_ExceptionHandler            { background-image: url(img/Set4/31.png); } /*  */
.pbicon-UML_ExceptionHandler_Full       { background-image: url(img/full/Set4/31.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ExecutionEnvironment'] > a .jstree-themeicon,
.pbicon-UML_ExecutionEnvironment        { background-image: url(img/Set4/2.png); } /*  */
.pbicon-UML_ExecutionEnvironment_Full   { background-image: url(img/full/Set4/2.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ExitPoint'] > a .jstree-themeicon,
.pbicon-UML_ExitPoint                   { background-image: url(img/Set4/77.png); } /*  */
.pbicon-UML_ExitPoint_Full              { background-image: url(img/full/Set4/77.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ExpansionNode'] > a .jstree-themeicon,
.pbicon-UML_ExpansionNode               {  } /*  */
.pbicon-UML_ExpansionNode_Full          {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ExpansionRegion'] > a .jstree-themeicon,
.pbicon-UML_ExpansionRegion             {  } /*  */
.pbicon-UML_ExpansionRegion_Full        {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Feature'] > a .jstree-themeicon,
.pbicon-UML_Feature                     { background-image: url(img/Set4/83.png); } /*  */
.pbicon-UML_Feature_Full                { background-image: url(img/full/Set4/83.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_GUIElement'] > a .jstree-themeicon,
.pbicon-UML_GUIElement                  {  } /*  */
.pbicon-UML_GUIElement_Full             {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InformationItem'] > a .jstree-themeicon,
.pbicon-UML_InformationItem             { background-image: url(img/Set4/52.png); } /*  */
.pbicon-UML_InformationItem_Full        { background-image: url(img/full/Set4/52.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Interaction'] > a .jstree-themeicon,
.pbicon-UML_Interaction                 { background-image: url(img/Set4/53.png); } /*  */
.pbicon-UML_Interaction_Full            { background-image: url(img/full/Set4/53.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InteractionFragment'] > a .jstree-themeicon,
.pbicon-UML_InteractionFragment         { background-image: url(img/Set4/22.png); } /*  */
.pbicon-UML_InteractionFragment_Full    { background-image: url(img/full/Set4/22.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InteractionOccurrence'] > a .jstree-themeicon,
.pbicon-UML_InteractionOccurrence       { background-image: url(img/Set4/23.png); } /*  */
.pbicon-UML_InteractionOccurrence_Full  { background-image: url(img/full/Set4/23.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InteractionState'] > a .jstree-themeicon,
.pbicon-UML_InteractionState            { background-image: url(img/Set4/24.png); } /*  */
.pbicon-UML_InteractionState_Full       { background-image: url(img/full/Set4/24.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Interface'] > a .jstree-themeicon,
.pbicon-UML_Interface                   { background-image: url(img/Set4/1.png); } /*  */
.pbicon-UML_Interface_Full              { background-image: url(img/full/Set4/1.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InterruptibleActivityRegion'] > a .jstree-themeicon,
.pbicon-UML_InterruptibleActivityRegion {  } /*  */
.pbicon-UML_InterruptibleActivityRegion_Full {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Issue'] > a .jstree-themeicon,
.pbicon-UML_Issue                       { background-image: url(img/Set4/81.png); } /*  */
.pbicon-UML_Issue_Full                  { background-image: url(img/full/Set4/81.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Label'] > a .jstree-themeicon,
.pbicon-UML_Label                       { background-image: url(img/Set4/55.png); } /*  */
.pbicon-UML_Label_Full                  { background-image: url(img/full/Set4/55.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_LoopNode'] > a .jstree-themeicon,
.pbicon-UML_LoopNode                    {  } /*  */
.pbicon-UML_LoopNode_Full               {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_MergeNode'] > a .jstree-themeicon,
.pbicon-UML_MergeNode                   { background-image: url(img/Set2/73.png); } /*  */
.pbicon-UML_MergeNode_Full              { background-image: url(img/full/Set2/73.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_MessageEndpoint'] > a .jstree-themeicon,
.pbicon-UML_MessageEndpoint             { background-image: url(img/Set2/1.png); } /*  */
.pbicon-UML_MessageEndpoint_Full        { background-image: url(img/full/Set2/1.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Node'] > a .jstree-themeicon,
.pbicon-UML_Node                        { background-image: url(img/Set4/2.png); } /*  */
.pbicon-UML_Node_Full                   { background-image: url(img/full/Set4/2.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Note'] > a .jstree-themeicon,
.pbicon-UML_Note                        { background-image: url(img/Set4/51.png); } /*  */
.pbicon-UML_Note_Full                   { background-image: url(img/full/Set4/51.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Object'] > a .jstree-themeicon,
.pbicon-UML_Object                      { background-image: url(img/Set4/7.png); } /*  */
.pbicon-UML_Object_Full                 { background-image: url(img/full/Set4/7.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ObjectNode'] > a .jstree-themeicon,
.pbicon-UML_ObjectNode                  {  } /*  */
.pbicon-UML_ObjectNode_Full             {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Package'] > a .jstree-themeicon,
.pbicon-UML_Package                     { background-image: url(img/Set1/25.png); } /*  */
.pbicon-UML_Package_Full                { background-image: url(img/full/Set1/25.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Parameter'] > a .jstree-themeicon,
.pbicon-UML_Parameter                   {  } /*  */
.pbicon-UML_Parameter_Full              {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Part'] > a .jstree-themeicon,
.pbicon-UML_Part                        { background-image: url(img/Set4/42.png); } /*  */
.pbicon-UML_Part_Full                   { background-image: url(img/full/Set4/42.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Port'] > a .jstree-themeicon,
.pbicon-UML_Port                        { background-image: url(img/Set4/20.png); } /*  */
.pbicon-UML_Port_Full                   { background-image: url(img/full/Set4/20.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_PrimitiveType'] > a .jstree-themeicon,
.pbicon-UML_PrimitiveType               { background-image: url(img/Set4/56.png); } /* 089 */
.pbicon-UML_PrimitiveType_Full          { background-image: url(img/full/Set4/56.png); } /* 089 */

.jstree-default li[data-pbicon^='pbicon-UML_ProtocolStateMachine'] > a .jstree-themeicon,
.pbicon-UML_ProtocolStateMachine        { background-image: url(img/Set4/21.png); } /*  */
.pbicon-UML_ProtocolStateMachine_Full   { background-image: url(img/full/Set4/21.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ProvidedInterface'] > a .jstree-themeicon,
.pbicon-UML_ProvidedInterface           {  } /*  */
.pbicon-UML_ProvidedInterface_Full      {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Region'] > a .jstree-themeicon,
.pbicon-UML_Region                      { background-image: url(img/Set4/11.png); } /*  */
.pbicon-UML_Region_Full                 { background-image: url(img/full/Set4/11.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Report'] > a .jstree-themeicon,
.pbicon-UML_Report                      { background-image: url(img/Set4/75.png); } /*  */
.pbicon-UML_Report_Full                 { background-image: url(img/full/Set4/75.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_RequiredInterface'] > a .jstree-themeicon,
.pbicon-UML_RequiredInterface           {  } /*  */
.pbicon-UML_RequiredInterface_Full      {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Risk'] > a .jstree-themeicon,
.pbicon-UML_Risk                        { background-image: url(img/Set4/84.png); } /*  */
.pbicon-UML_Risk_Full                   { background-image: url(img/full/Set4/84.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Screen'] > a .jstree-themeicon,
.pbicon-UML_Screen                      { background-image: url(img/Set4/4.png); } /*  */
.pbicon-UML_Screen_Full                 { background-image: url(img/full/Set4/4.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Signal'] > a .jstree-themeicon,
.pbicon-UML_Signal                      { background-image: url(img/Set4/48.png); } /*  */
.pbicon-UML_Signal_Full                 { background-image: url(img/full/Set4/48.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_State'] > a .jstree-themeicon,
.pbicon-UML_State                       { background-image: url(img/Set1/18.png); } /*  */
.pbicon-UML_State_Full                  { background-image: url(img/full/Set1/18.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_StateMachine'] > a .jstree-themeicon,
.pbicon-UML_StateMachine                { background-image: url(img/Set4/47.png); } /*  */
.pbicon-UML_StateMachine_Full           { background-image: url(img/full/Set4/47.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_StateNode'] > a .jstree-themeicon,
.pbicon-UML_StateNode                   {  } /*  */
.pbicon-UML_StateNode_Full              {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Synchronization'] > a .jstree-themeicon,
.pbicon-UML_Synchronization             {  } /*  */
.pbicon-UML_Synchronization_Full        {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Task'] > a .jstree-themeicon,
.pbicon-UML_Task                        { background-image: url(img/Set4/85.png); } /*  */
.pbicon-UML_Task_Full                   { background-image: url(img/full/Set4/85.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Text'] > a .jstree-themeicon,
.pbicon-UML_Text                        { background-image: url(img/Set4/55.png); } /*  */
.pbicon-UML_Text_Full                   { background-image: url(img/full/Set4/55.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_TimeLine'] > a .jstree-themeicon,
.pbicon-UML_TimeLine                    { background-image: url(img/Set4/43.png); } /*  */
.pbicon-UML_TimeLine_Full               { background-image: url(img/full/Set4/43.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Trigger'] > a .jstree-themeicon,
.pbicon-UML_Trigger                     { background-image: url(img/Set4/40.png); } /*  */
.pbicon-UML_Trigger_Full                { background-image: url(img/full/Set4/40.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_UMLDiagram'] > a .jstree-themeicon,
.pbicon-UML_UMLDiagram                  {  } /*  */
.pbicon-UML_UMLDiagram_Full             {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_User'] > a .jstree-themeicon,
.pbicon-UML_User                        { background-image: url(img/Set1/20.png); } /*  */
.pbicon-UML_User_Full                   { background-image: url(img/full/Set1/20.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Aggregation'] > a .jstree-themeicon,
.pbicon-UML_Aggregation                 { background-image: url(img/Arrows/39.png); } /*  */
.pbicon-UML_Aggregation_Full            { background-image: url(img/full/Arrows/39.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Assembly'] > a .jstree-themeicon,
.pbicon-UML_Assembly                    { background-image: url(img/Arrows/41.png); } /*  */
.pbicon-UML_Assembly_Full               { background-image: url(img/full/Arrows/41.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Association'] > a .jstree-themeicon,
.pbicon-UML_Association                 { background-image: url(img/Set2/75.png); } /*  */
.pbicon-UML_Association_Full            { background-image: url(img/full/Set2/75.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Collaboration'] > a .jstree-themeicon,
.pbicon-UML_Collaboration               { background-image: url(img/Set4/11.png); } /*  */
.pbicon-UML_Collaboration_Full          { background-image: url(img/full/Set4/11.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_CommunicationPath'] > a .jstree-themeicon,
.pbicon-UML_CommunicationPath           { background-image: url(img/Arrows/22.png); } /*  */
.pbicon-UML_CommunicationPath_Full      { background-image: url(img/full/Arrows/22.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Connector'] > a .jstree-themeicon,
.pbicon-UML_Connector                   { background-image: url(img/Arrows/19.png); } /*  */
.pbicon-UML_Connector_Full              { background-image: url(img/full/Arrows/19.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ControlFlow'] > a .jstree-themeicon,
.pbicon-UML_ControlFlow                 { background-image: url(img/Arrows/21.png); } /*  */
.pbicon-UML_ControlFlow_Full            { background-image: url(img/full/Arrows/21.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Delegate'] > a .jstree-themeicon,
.pbicon-UML_Delegate                    { background-image: url(img/Arrows/23.png); } /*  */
.pbicon-UML_Delegate_Full               { background-image: url(img/full/Arrows/23.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Dependency'] > a .jstree-themeicon,
.pbicon-UML_Dependency                  { background-image: url(img/Arrows/2.png); } /*  */
.pbicon-UML_Dependency_Full             { background-image: url(img/full/Arrows/2.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Deployment'] > a .jstree-themeicon,
.pbicon-UML_Deployment                  { background-image: url(img/Arrows/24.png); } /*  */
.pbicon-UML_Deployment_Full             { background-image: url(img/full/Arrows/24.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ERLink'] > a .jstree-themeicon,
.pbicon-UML_ERLink                      {  } /*  */
.pbicon-UML_ERLink_Full                 {  } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Generalization'] > a .jstree-themeicon,
.pbicon-UML_Generalization              { background-image: url(img/Arrows/30.png); } /*  */
.pbicon-UML_Generalization_Full         { background-image: url(img/full/Arrows/30.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InformationFlow'] > a .jstree-themeicon,
.pbicon-UML_InformationFlow             { background-image: url(img/Arrows/5.png); } /*  */
.pbicon-UML_InformationFlow_Full        { background-image: url(img/full/Arrows/5.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Instantiate'] > a .jstree-themeicon,
.pbicon-UML_Instantiate                 { background-image: url(img/Set4/11.png); } /*  */
.pbicon-UML_Instantiate_Full            { background-image: url(img/full/Set4/11.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_InterruptFlow'] > a .jstree-themeicon,
.pbicon-UML_InterruptFlow               { background-image: url(img/Arrows/32.png); } /*  */
.pbicon-UML_InterruptFlow_Full          { background-image: url(img/full/Arrows/32.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Manifest'] > a .jstree-themeicon,
.pbicon-UML_Manifest                    { background-image: url(img/Arrows/21.png); } /*  */
.pbicon-UML_Manifest_Full               { background-image: url(img/full/Arrows/21.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Nest'] > a .jstree-themeicon,
.pbicon-UML_Nest                        { background-image: url(img/Arrows/38.png); } /*  */
.pbicon-UML_Nest_Full                   { background-image: url(img/full/Arrows/38.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_NoteLink'] > a .jstree-themeicon,
.pbicon-UML_NoteLink                    { background-image: url(img/Arrows/1.png); } /*  */
.pbicon-UML_NoteLink_Full               { background-image: url(img/full/Arrows/1.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_ObjectFlow'] > a .jstree-themeicon,
.pbicon-UML_ObjectFlow                  { background-image: url(img/Arrows/31.png); } /*  */
.pbicon-UML_ObjectFlow_Full             { background-image: url(img/full/Arrows/31.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Package'] > a .jstree-themeicon,
.pbicon-UML_Package                     { background-image: url(img/Set1/25.png); } /*  */
.pbicon-UML_Package_Full                { background-image: url(img/full/Set1/25.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Realize'] > a .jstree-themeicon,
.pbicon-UML_Realize                     { background-image: url(img/Arrows/17.png); } /*  */
.pbicon-UML_Realize_Full                { background-image: url(img/full/Arrows/17.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Realisation'] > a .jstree-themeicon,
.pbicon-UML_Realisation                 { background-image: url(img/Arrows/17.png); } /*  */
.pbicon-UML_Realisation_Full            { background-image: url(img/full/Arrows/17.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_StateFlow'] > a .jstree-themeicon,
.pbicon-UML_StateFlow                   { background-image: url(img/Arrows/30.png); } /*  */
.pbicon-UML_StateFlow_Full              { background-image: url(img/full/Arrows/30.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_TemplateBinding'] > a .jstree-themeicon,
.pbicon-UML_TemplateBinding             { background-image: url(img/Arrows/16.png); } /*  */
.pbicon-UML_TemplateBinding_Full        { background-image: url(img/full/Arrows/16.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Abstraction'] > a .jstree-themeicon,
.pbicon-UML_Abstraction                 { background-image: url(img/Arrows/3.png); } /*  */
.pbicon-UML_Abstraction_Full            { background-image: url(img/full/Arrows/3.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_IN'] > a .jstree-themeicon,
.pbicon-UML_IN                          { background-image: url(img/Set4/19.png); } /*  */
.pbicon-UML_IN_Full                     { background-image: url(img/full/Set4/19.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_OUT'] > a .jstree-themeicon,
.pbicon-UML_OUT                         { background-image: url(img/Set4/18.png); } /*  */
.pbicon-UML_OUT_Full                    { background-image: url(img/full/Set4/18.png); } /*  */

.jstree-default li[data-pbicon^='pbicon-UML_Defect'] > a .jstree-themeicon,
.pbicon-UML_Defect                      { background-image: url(img/Set4/87.png); } /*  */
.pbicon-UML_Defect_Full                 { background-image: url(img/full/Set4/87.png); } /*  */

/* For Extended UML Icon */

.jstree-default li[data-pbicon$='pbicon-Extended_documentVersion'] > a .jstree-themeicon,
.pbicon-Extended_documentVersion        { background-image: url(img/Extended/1.png); } /*  */
.pbicon-Extended_documentVersion_Full   { background-image: url(img/full/Extended/1.png); } /*  */

.jstree-default li[data-pbicon$='pbicon-Extended_eaDocXDocument'] > a .jstree-themeicon,
.pbicon-Extended_eaDocXDocument         { background-image: url(img/Extended/1.png); } /*  */
.pbicon-Extended_eaDocXDocument_Full    { background-image: url(img/full/Extended/1.png); } /*  */


/* For UML Diagram Icon */

.jstree-default li[data-pbicon^='pbicon-UML_UseCase_Diagram'] > a .jstree-themeicon,
.pbicon-UML_UseCase_Diagram     { background-image: url(img/Set1/6.png); } /* 006 */

.jstree-default li[data-pbicon^='pbicon-UML_Sequence_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Sequence_Diagram    { background-image: url(img/Set1/11.png); } /* 011 */

.jstree-default li[data-pbicon^='pbicon-UML_Class_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Class_Diagram       { background-image: url(img/Set1/1.png); } /* 001 */

.jstree-default li[data-pbicon^='pbicon-UML_Component_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Component_Diagram   { background-image: url(img/Set1/4.png); } /* 004 */

.jstree-default li[data-pbicon^='pbicon-UML_Activity_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Activity_Diagram    { background-image: url(img/Set1/7.png); } /* 007 */

.jstree-default li[data-pbicon^='pbicon-UML_Deployment_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Deployment_Diagram  { background-image: url(img/Set1/5.png); } /* 005 */

.jstree-default li[data-pbicon^='pbicon-UML_Analysis_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Analysis_Diagram    { background-image: url(img/Set1/15.png); } /* 015 */

.jstree-default li[data-pbicon^='pbicon-UML_Package_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Package_Diagram     { background-image: url(img/Set1/2.png); } /* 002 */

.jstree-default li[data-pbicon^='pbicon-UML_Logical_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Logical_Diagram     { background-image: url(img/Set1/1.png); } /* 001 */

.jstree-default li[data-pbicon^='pbicon-UML_CompositeStructure_Diagram'] > a .jstree-themeicon,
.pbicon-UML_CompositeStructure_Diagram { background-image: url(img/Set1/8.png); } /* 008 */

.jstree-default li[data-pbicon^='pbicon-UML_Object_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Object_Diagram      { background-image: url(img/Set1/3.png); } /* 003 */

.jstree-default li[data-pbicon^='pbicon-UML_Timing_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Timing_Diagram      { background-image: url(img/Set1/12.png); } /* 012 */

.jstree-default li[data-pbicon^='pbicon-UML_Collaboration_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Collaboration_Diagram { background-image: url(img/Set1/10.png); } /* 010 */

.jstree-default li[data-pbicon^='pbicon-UML_InteractionOverview_Diagram'] > a .jstree-themeicon,
.pbicon-UML_InteractionOverview_Diagram { background-image: url(img/Set1/13.png); } /* 013 */

.jstree-default li[data-pbicon^='pbicon-UML_Custom_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Custom_Diagram      { background-image: url(img/Set1/14.png); } /* 014 */

.jstree-default li[data-pbicon^='pbicon-UML_Statechart_Diagram'] > a .jstree-themeicon,
.pbicon-UML_Statechart_Diagram	{ background-image: url(img/Set1/9.png); } /* 009 */

/* For Extended Diagram Icon */

.jstree-default li[data-pbicon$='pbicon-Extended_Maintenance_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_ModelDocument_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_Requirements_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_UserInterface_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_XMLTransform_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_Documentation_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_Dashboard_Diagram'] > a .jstree-themeicon,
.pbicon-Extended_Maintenance_Diagram,
.pbicon-Extended_ModelDocument_Diagram,
.pbicon-Extended_Requirements_Diagram,
.pbicon-Extended_UserInterface_Diagram,
.pbicon-Extended_XMLTransform_Diagram,
.pbicon-Extended_Documentation_Diagram,
.pbicon-Extended_Dashboard_Diagram				{ background-image: url(img/Set1/14.png); } /* 014 */ /* Custom_Diagram */

.jstree-default li[data-pbicon$='pbicon-Extended_DataModeling_Diagram'] > a .jstree-themeicon,
.jstree-default li[data-pbicon$='pbicon-Extended_BusinessModeling_Diagram'] > a .jstree-themeicon,
.pbicon-Extended_DataModeling_Diagram,
.pbicon-Extended_BusinessModeling_Diagram		{ background-image: url(img/Set1/1.png); } /* 001 */ /* Logical_Diagram */

.jstree-default li[data-pbicon$='pbicon-Extended_BusinessInteraction_Diagram'] > a .jstree-themeicon,
.pbicon-Extended_BusinessInteraction_Diagram	{ background-image: url(img/Set1/11.png); } /* 011 */ /* Sequence_Diagram */

.jstree-default li[data-pbicon$='pbicon-Extended_TestDomain_Diagram'] > a .jstree-themeicon,
.pbicon-Extended_TestDomain_Diagram				{ background-image: url(img/Set1/6.png); } /* 006 */ /* UseCase_Diagram */


